<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Create comment</title>
  <style type="text/css">
    body {
      padding: 50px;
    }

    label {
      display: inline-block;
      width: 100px;
    }

    input:read-only {
      background: lightgray;
    }

    .row {
      margin-top: 10px;
    }
  </style>
</head>
<body>

<!-- Comment creation -->
<form id="edit-form" action="createComment.html" th:method="post" th:action="@{/comment/create(bookId=${bookId})}">
  <h3>Create comment:</h3>

  <div class="form-group">
    <label for="comment">Text:</label>
    <input class="form-control" id="comment" name="comment" placeholder="Enter Comment" required autocomplete="off" type="text"/>
  </div>

  <div class="row">
      <button type="submit">Save</button>
      <a href="commentBook.html" th:href="@{/comment(bookId=${bookId})}"><button type="button">Cancel</button></a>
  </div>
</form>

</body>
</html>
