<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit comment</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Comment edition -->
<form id="edit-form" action="editComment.html" th:method="post" th:action="@{/comment/edit(commentId=${comment.id})}" th:object="${comment}">
    <h3>Comment Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" name="id" type="text" readonly="readonly" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="book-name-input">Text:</label>
        <input id="book-name-input" name="text" type="text" value="Интересно" th:value="*{text}"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="commentBook.html" th:href="@{/}"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>
