<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Comments</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .comments {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .comments tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .comments td:last-child, td:first-child {
            width: 50px;
        }
    </style>

    <script>

        function getComments(bookId) {
            fetch("/book/comment/" + bookId, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                }
            })
                .then((response) => {
                    response.json().then(
                        comments => {
                            console.log(comments);
                            var new_tbody = document.createElement('tbody');
                            if (comments.length > 0) {
                                comments.forEach((comment) => {
                                    var row = new_tbody.insertRow();
                                    cell0 = row.insertCell(0);
                                    cell0.innerHTML = comment.id;
                                    cell1 = row.insertCell(1);
                                    cell1.innerHTML = comment.text;
                                    cell2 = row.insertCell(2);
                                    cell2.innerHTML = `<button type="btn-edit-comment">Edit</button>`;
                                    cell3 = row.insertCell(3);
                                    cell3.innerHTML = `<button type="btn-delete-comment">Delete</button>`;
                                });
                            }
                            var old_tbody = document.getElementById('tab-comments-data').getElementsByTagName('tbody')[0];
                            old_tbody.parentNode.replaceChild(new_tbody, old_tbody);
                            document.querySelectorAll('[type=btn-edit-comment]').forEach((btn) => {
                                btn.addEventListener('click', function () {
                                    commentPrepareEdit(this);
                                });
                            });
                            document.querySelectorAll('[type=btn-delete-comment]').forEach((btn) => {
                                btn.addEventListener('click', function () {
                                  deleteComment(this);
                                });
                            });
                        }
                    )
                })
        }

        function commentPrepareEdit(btn) {
            row = btn.parentElement.parentElement;
            document.getElementById("comment-id-input").value = row.cells[0].innerHTML;
            document.getElementById("comment-text-input").value = row.cells[1].innerHTML;
        }

        function deleteComment(btn) {
            row = btn.parentElement.parentElement;
            id = row.cells[0].innerHTML
            fetch('/book/comment/delete/' + id, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                }
            })
                .then(() => row.remove());
        }

        function resetCommentForm(btn) {
            row = btn.parentElement.parentElement;
            document.getElementById("comment-id-input").value = "";
            document.getElementById("comment-text-input").value = "";
        }

        function updateComment(comment) {
            fetch('/book/comment/edit/' + comment.id, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(comment)
            });
        }

        function createComment(comment, bookId) {
            fetch('/book/comment/create/' + bookId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(comment)
            });
        }

        function commentFormSubmit(bookId) {
            commentText = document.getElementById('comment-text-input').value;
            comment = {
                text: commentText
            };
            console.log(JSON.stringify(comment));
            commentIdStr = document.getElementById('comment-id-input').value;
            if (!commentIdStr) {
                createComment(comment, bookId)
                    .then((response) => resetCommentForm())
                    .then((response) => getComments(bookId));
            } else {
                comment["id"] = Number(commentIdStr);
                updateComment(comment)
                    .then((response) => resetCommentForm())
                    .then((response) => getComments(bookId));
            }
        }

    </script>

</head>
<h3>Comments:</h3>
<script th:inline="javascript">
    const bookId = Number([[${bookId}]]);
    getComments(bookId);
</script>
<table class="comments" id="tab-comments-data">
    <thead>
    <tr>
        <th>ID</th>
        <th>Text</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<form id="edit-form">
    <h3>Create/edit comment:</h3>
    <div class="row">
        <label for="comment-id-input">ID:</label>
        <input id="comment-id-input" type="text" name="comment-id-input" readonly="readonly"/>
    </div>

    <div class="row">
        <label for="comment-text-input">Text:</label>
        <input class="form-control" id="comment-text-input" name="comment-text-input" placeholder="Enter Comment"
               required autocomplete="off" type="text"/>
    </div>

    <div class="row">
        <button id="btn-save-comment-form" onclick="commentFormSubmit(bookId)">Save</button>
    </div>
</form>

<div class="my-3">
    <a href="listBooks.html" th:href="@{/}">
        <button class="btn-back" type="button">Back to books</button>
    </a>
</div>

</body>
</html>
