<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Book edition -->
<form id="edit-form" action="editBook.html" th:method="post" th:action="@{/edit(id=${book.id})}" th:object="${book}">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="book-name-input">Name:</label>
        <input id="book-name-input" name="name" type="text" value="Евгений Онегин" th:value="*{name}"/>
    </div>

    <div class="row">
        <label for="book-author-select">Author:</label>
        <select id="book-author-select" name="author" required th:field="*{author.id}">
            <option th:each="a : ${authors}"
                    th:value="${a.id}"
                    th:text="${a.name}"
                    th:selected="${a.id}==*{author.id}">Mark Twain</option>
        </select>
    </div>

    <div class="row">
        <label for="book-genre-select">Genre:</label>
        <select id="book-genre-select" name="genre" required th:field="*{genre.id}">
            <option th:each="g : ${genres}"
                    th:value="${g.id}"
                    th:text="${g.name}"
                    th:selected="${g.id}==*{genre.id}">Adventure fiction</option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="listBooks.html" th:href="@{/}"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>
