<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
<h3>Books:</h3>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.name}">Евгений Онегин</td>
        <td th:text="${book.author.name}">Александр Пушкин</td>
        <td th:text="${book.genre.name}">Роман</td>
        <td>
            <form method="post" th:action="@{/delete(id=${book.id})}">
                <a href="editBook.html" th:href="@{/edit(id=${book.id})}">Edit</a>
               <a href="commentBook.html" th:href="@{/comment(bookId=${book.id})}">Comments</a>
               <button class="btn btn-secondary btn-sm">Delete</button>
           </form>
       </td>
   </tr>
   </tbody>
</table>
<a th:href="@{/create}" href="createBook.html"><button type="button">Add book</button>
</a>
</body>
</html>
